@media (min-width: 1024px) {
  .wrapper1,
  .wrapper2 {
    padding-right: 20%;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .pic_ad {
    display: none;
  }
  .menu-items {
    display: none;
  }
  .header {
    width: 100%;
  }
  .footer_nav {
    margin-top: 0;
  }
  #video_concert {
    height: 100vh;
    object-fit: inherit;
  }
  .wrapper1,
  .wrapper2 {
    padding-right: 100px;
  }
  .show_option {
    grid-template-columns: repeat(2, 1fr);
  }
  .sign_up {
    display: block;
  }
  .form {
    margin-left: 150px;
    justify-content: center;
    align-items: center;
  }
  .pic_bot {
    display: none;
  }
}
@media (max-width: 740px) {
  .header {
    width: 100%;
  }
  .menu-items {
    display: none;
  }
  .sidebar {
    width: 330px;
    height: 350px;
  }
  .navsidebar {
    width: 330px;
  }
  .icon_left {
    margin-right: 0;
  }
  .option {
    margin-top: 14px;
  }
  .icon_footer {
    padding-bottom: 15px;
  }
  .sub_type {
    font-size: 17px;
    padding-left: 20px;
  }
  .footer_nav {
    margin-top: 0px;
  }
  .img_show {
    top: -120vh;
  }
  .show_option {
    grid-template-columns: repeat(2, 1fr);
  }
  .pic_show {
    height: 40vh;
  }
  .content_form h2 {
    font-size: 24px;
  }
  .containerText {
    width: 375px;
  }

  #video_concert {
    object-fit: inherit !important;
  }
  .wrapper1,
  .wrapper2 {
    margin-right: 30px;
  }
  #logo {
    width: 80px;
  }
  .about-us {
    font-size: 16px;
  }
  .left {
    height: 40vh;
  }
  .right {
    height: 50vh;
  }
  #p1 {
    font-size: 14px;
  }
  .crowd {
    object-fit: cover;
    height: 50vh;
  }
  .main-container {
  }
  .img2 {
    display: none;
  }
  .artist-info {
    font-size: 14px;
  }
  .artist-info a {
    font-size: 24px;
  }
  .artist-info p {
    font-size: 14px;
  }
}
