/*reset css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  background-color: #000;
  /* overflow-x: hidden; */
}
:root {
  --column_img_height: 40vh;
  --column_img_gap: 18px;
  --column_img_num: 5;
}

html {
  font-family: "Roboto", sans-serif;
}

.clear {
  clear: both;
}

.form_message.error {
  color: rgb(223, 88, 88);
}
.header {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  display: flex;
  height: 95px;
  width: 100%;
  background-color: #000;
  color: white;
  justify-items: center;
  z-index: 99;
  transition: transform 0.2s;
}
.header--hidden {
  transform: translateY(-95px);
  box-shadow: none;
}
.icon {
  display: flex;
  align-items: center;
}
.icon_page {
  height: 25px;
  margin-left: 40px;
}
.menu-items {
  display: flex;
  align-items: center;
  margin-left: 120px;
}
.menu-items a {
  display: inline-block;
  text-decoration: none;
  color: #949494;
  border-radius: 8px;
  font-size: 18px;
  padding: 10px 35px;
  transition: linear 0.2s;
}
.menu-items a:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}

.items {
  position: relative;
}

.border_bottom:before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
}
.icon_left {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
  font-size: 24px;
}

.icon_left a {
  color: #949494;
  text-decoration: none;
  padding: 12px;
  transition: linear 0.2s;
}
.icon_left a:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  cursor: pointer;
}
.navbar.hidden {
  top: -50px;
}
.sidebar {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  padding: 25px;
  border-radius: 16px;
  width: 420px;
  height: 415px;
  box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.022),
    0 6.7px 5.3px rgba(0, 0, 0, 0.032), 0 12.5px 10px rgba(0, 0, 0, 0.04),
    0 22.3px 17.9px rgba(0, 0, 0, 0.048), 0 41.8px 33.4px rgba(0, 0, 0, 0.058),
    0 100px 80px rgba(0, 0, 0, 0.08);
}
.sidebar.open,
.navsidebar.open {
  display: block;
  animation: side_smooth 0.2s ease-in-out;
}
@keyframes side_smooth {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.icon_close_sidebar {
  color: #949494;
  float: right;
}
.icon_close_sidebar:hover {
  cursor: pointer;
}
.icon_close_sidebar {
  color: #949494;
  float: right;
}
.icon_close_sidebar:hover {
  cursor: pointer;
}
.sidebar_items {
  display: block;
  border: none;
}
.sidebar_items ul > li {
  list-style-type: none;
}
.sidebar_items ul > li > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin-bottom: 12px;
}
.option {
  margin-top: 24px;
}
.sidebar_footer {
  border-top: 1px solid #94949477;
  margin-top: 40px;
}
.sb_ft_sp {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 14px;
  line-height: 1;
}
.icon_footer {
  height: 60px;
}
.footer_nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 18px;
  margin-top: 30px;
}
.footer_nav li > a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.567);
  font-size: 14px;
}
.footer_nav li > a:hover {
  color: #000000b7;
  cursor: pointer;
}
.footer_link {
  position: relative;
  list-style-type: none;
}
.footer_link:not(:last-child) {
  border-right: 1px solid #94949489;
  padding-right: 14px;
}

.footer_nav .footer_link:hover ::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.57);
  animation: line-anim 0.2s ease-in-out forwards;
  cursor: pointer;
}

@keyframes line-anim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.navsidebar {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  padding: 25px;
  border-radius: 16px;
  width: 420px;
  height: 305px;
  box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.022),
    0 6.7px 5.3px rgba(0, 0, 0, 0.032), 0 12.5px 10px rgba(0, 0, 0, 0.04),
    0 22.3px 17.9px rgba(0, 0, 0, 0.048), 0 41.8px 33.4px rgba(0, 0, 0, 0.058),
    0 100px 80px rgba(0, 0, 0, 0.08);
}
.nav_type {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 3;
  margin-top: 25px;
}
.shopping_bag {
  color: #000;
  margin-bottom: 25px;
  position: relative;
}

.sub_type {
  color: #94949477;
  margin-bottom: 25px;
}

.check_nav {
  border: none;
  position: relative;
  opacity: 0.5;
  background-color: #000000;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  transition: transfrom 0.3s ease-out;
}
.check_nav:hover {
  transform: translateX(8px);
}
.page_main {
  display: flex;
  /* flex-flow: column; */
  /* flex: 1; */
  background-color: #000000;
}
.page_container {
  margin-top: 95px;
}
.about_me {
  margin-bottom: min(3rem, 4vw);
}
.text_container {
  font-size: min(50px, 10vw);
  line-height: 1.2;
  margin-top: 20vh;
  margin-left: 40px;
}
.text {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  overflow: hidden;
  vertical-align: bottom;
  color: white;
}
.footer_show {
  border-top: 1px solid hsl(0, 0%, 28%);
  color: #ffffffdb;
}
.fade-right {
  display: block;
  margin-top: 1.5rem;
  padding-bottom: 18px;
}
.scroll {
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
}
.scroll:before {
  position: absolute;
  top: -1rem;
  margin-top: -9px;
  content: "";
  display: block;
  height: 1px;
  width: 1rem;
  background-color: #fff;
}
.marquee {
  width: 100vw;
  margin: auto;
}
.scoll_left {
  display: flex;
}
.underline_fade {
  display: block;
  overflow: hidden;
  width: inherit;
  height: inherit;
}
.text_transition {
  display: flex;
  white-space: nowrap;
  text-transform: uppercase;
  color: #94949489;
}
.text_transition p {
  display: inline-block;
  font-size: 12px;
  padding-right: 48px;
  animation: slide-left 10s linear infinite;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-47px * 15));
  }
}
.show_container {
  width: 100%;
  margin-inline: auto;
}
.show_option {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-left: 5px;
}
.show_option a {
  text-decoration: none;
}
.time_show {
  height: 100%;
  width: 100%;
  position: relative;
}

.time-show .pic_show {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.time_show h4 {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 10px;
  background-color: #000;
  text-transform: uppercase;
}
.pic_show {
  border-radius: 5px;
  width: 100%;
  height: 600px;
}

.name {
  padding: 10px 15px;
  color: #fff;
}
.name:hover {
  color: #000;
  animation: all 0.2s;
}

.name:hover:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  animation: slide_smooth 0.2s;
  z-index: -1;
}

@keyframes slide_smooth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.sign_up {
  display: flex;
  gap: 50px;
}
.form {
  flex: auto;
  max-width: 28rem;
  padding: 4rem 0 2rem 0;
  padding-left: 40px;
}

.content_form h2 {
  font-size: 32px;
  line-height: 1.25;
  margin-bottom: 1.5rem;
  max-width: 16em;
  color: #fff;
  text-align: justify;
}
.content_form p {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 1.5rem;
  color: #898989be;
  text-align: justify;
}
.form_sign {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
input::placeholder {
  color: rgb(43, 43, 43);
}
.info {
  position: relative;
  border-radius: 0.5rem;
  line-height: 1;
  text-align: left;
  margin-bottom: 24px;
}

.label-form {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #e0e0e0;
}
label.form-label {
  margin-bottom: 14px;
}
input.item_form {
  font-size: 18px;
}
.item_form {
  background-color: #949494;
  display: block;
  width: 100%;
  height: 3.5rem;
  padding: 1.25rem;
  border-radius: inherit;
  line-height: inherit;
  border: none;
  margin-bottom: 5px;
  color: #fff;
}

.item_form:hover {
  opacity: 0.5;
}
.form_message {
  color: white;
}
.submit_form {
  margin-top: 20px;
}
.done {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  transition: all 0.3s ease;
}
.done:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.pic_ad {
  flex: 1;
  position: relative;
}
.pic_bot {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.footer_page1 {
  display: flex;
  align-items: center;
}
.lg_end {
  margin-left: 40px;
}
#lg_ft {
  opacity: 0.6;
  width: 100px;
}
#lg_ft:hover {
  opacity: 1;
  cursor: pointer;
}
.ul_li {
  float: right;
  margin-right: 25px;
}
.ft {
  list-style-type: none;
  display: flex;
}
.ft_end {
  color: rgba(255, 255, 255, 0.682);
  margin-left: 5px;
}
