body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#form_3 {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  width: 300px;
}

.info {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #474747;
  border-radius: 4px;
}

#btn-update {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 15px;
  /* border: none; */
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#btn-update:hover {
  background-color: #d0d0d0;
}
.head-update {
  padding-left: 40px;
}
